.specialistes{
    background-color: #aacbe4;
    padding-bottom: 240px;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.specialistes p{
    font-family: 'Futura';
    margin-top: 16px;
}


