.button{
    padding: 5px 10px;
    background-color: #b44ef7;
    border: none;
    color: #fff;
    outline: none;
    cursor: pointer;
    font: inherit;
    padding: 7px 35px;
    margin: 10px;
    border-radius: 5px;
    font-family: 'Arial' , 'sans-serif';
    font-size: 13px;
    animation : heartbeat 2s infinite;
}
.button:hover{
    background-color: #a144de;
    color: #fff;
}

button:disabled {
    cursor: not-allowed;
}

@keyframes heartbeat {
    from {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-transform-origin: center center;
              transform-origin: center center;
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    10% {
      -webkit-transform: scale(0.91);
              transform: scale(0.91);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    17% {
      -webkit-transform: scale(0.98);
              transform: scale(0.98);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    33% {
      -webkit-transform: scale(0.87);
              transform: scale(0.87);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    45% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
  }
  