.Title{
    color: #bf6b52;
    font-family: 'Futura';
    text-align: center;
    padding-top: 100px;
    padding-bottom:20px;
    text-transform: uppercase;
    font-family : "Futura";
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.Title .Apropos{
    color: #bf6b52;
}

.Title .Theme{
    color: #9f4766;
}

.Title .Specialistes{
    color: #5d84a1;
}

.Title .Contact{
    color: #5d4c6d;
}

.Title div{
    border-top: 0.1px solid;
    border-style: solid;
    width: 40px;
    color:grey;
    margin: 40px 16px;
}