.SpecialistesItem{
    background-color: #84aac7;
    color: #365c79;
    border-radius: 6px;
    width: 300px;
    height: 52px;
    margin: 0 auto;
    display: flex;
    margin-bottom: 20px;
}

.SpecialistesItem:hover{
    background-color: #6e8ea7;
    cursor:pointer;
    color: #375c79;
}

.SpecialistesItem:hover .type,
.SpecialistesItem:hover .arrow{
    background-color:#64829a;
}

.SpecialistesItem .type{
    width: 80px;
    width: 67px;
    margin-top: -9px;
    background-color: #7fa3bf;
    clip-path: inset(13% 0 15% 0 round 0 0% 0 9%);
}

.SpecialistesItem .arrow{
    width: 50px;
    background-color: #7fa3bf;
    clip-path: inset(-1% 0 0% 0 round 0 19% 0 0);
}

.SpecialistesItem p{
    width: 200px;
    font-family: 'Futura';
}

