.Contact{
    display: flex;
    flex-direction: column;
    margin: auto;    
}

.Contact p{
    text-align: center;
}

.Contact .nuageContact{
    width: 100%;
    margin-top: -19%;
    position: absolute;
}

.Contact > div:nth-of-type(1){
    width: 50%;
    margin: auto;
}

.Contact h3 {
    text-align: center;
    background-color: #9897ff;
    padding-top: 29px;
    margin: 0;
    color: #6d4778;
}