.Contact{
    display: flex;
    flex-direction: column;
    margin: auto;    
    /* width: 50%; */
}

.Contact p{
    text-align: center;
}

.Contact .nuageContact{
   width:100%;
   margin-top: -20%;
}

.Contact div{
    width: 50%;
    margin: auto;
}