.apropos{
    background-color: #f1a892;
    height: 100%;
    margin-top: -20px;
    padding-bottom: 100px;
}

.apropos .image{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: #de8c74;
    margin: 0 auto;
}

.apropos .oeil{
    width: 150px;
}

.apropos p{
    font-family: 'Arial';
    font-size: 18px;
    width: 63%;
    text-align: center;
    margin: 0 auto;
    margin-top: 50px;
    color: #353535;
    line-height: 25px;
    padding-bottom: 80px;
}