body{
    margin: 0;
    padding: 0;
}

.apropos{
    background-color: #f1a892;
    height: 100%;
    margin-top: -20px;
    padding-bottom: 100px;
}

h2{
    color: #bf6b52;
    font-family: 'Futura';
    text-align: center;
    padding-top: 100px;
}

.image{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: #de8c74;
    margin: 0 auto;
}

.oeil{
    width: 150px;
}

.apropos p{
    font-family: 'Arial';
    font-size: 18px;
    width: 63%;
    text-align: center;
    margin: 0 auto;
    margin-top: 50px;
    color: #353535;
    line-height: 25px;
}