.NavigationItems{
    background-color: #90b2cc;
    max-height: 100%;
    max-width:100%;
    margin: auto;
    display:flex;
    justify-content: space-around;
    flex-wrap: wrap;
    font-family: 'Futura' , 'sans-serif' !important;
}

.NavigationItems li{
    list-style-type: none;
    font-family:'Futura';
    font-size: 22px;
    flex-wrap: wrap;
    padding: 15px 25px;
    z-index:200;
}

.NavigationItems li:hover{
    background-color: #6692b5;
    padding: 15px 25px;
}
.NavigationItems li a:hover{
    color:#24547a;
}

.NavigationItems li:nth-of-type(1){
    margin-right:auto;
}

.NavigationItems .IconDrapeau{
    color: #fff;
    margin : 10px 6px;
    position:absolute;
    font-size: 13px;
}

.NavigationItems .IconUser{
   font-size : 25px;
}

.NavigationItems a{
    text-decoration: none;
    color: #657fa9;
    font-family: 'Futura' , 'sans-serif' !important;
}

.Drapeau{
    width: 30px;
}

.Icons{
    margin-left :auto;
    display:inline-flex;
    margin-right: 30px;
}