body {
  margin: 0;
  padding: 0;
  font-family: 'Arial' , 'sans-serif';
}
/* 
@font-face {
	font-family: 'Futura';
	src: url('/assets/fonts/Futura');
  src: local('☺'), url('/assets/fonts/Futura.woff') format('woff'), 
  url('/assets/fonts/Futura.ttf') format('truetype'), 
  url('/assets/fonts/Futura.svg') format('svg');
	font-weight: normal;
	font-style: normal;
} */