.header .gradient{
    height: 100vh;
    background: linear-gradient(#aacbe4 70%, #e3a6ab);
    position: relative;
}

.header .montagne{
  width: 100%;
  bottom: 0%;
  position: absolute;
  opacity: 0.1;
}

.header .terre{
    width: 100%;
    bottom: 0%;
    position: absolute;
}

.header .panneau{
    width: 10%;
    bottom: 60px;
    left: 160px;
    position: fixed;
}

.header .nuage1{
    width: 180px;
    top: 18%;
    left: 12%;
    position: absolute;
    opacity: 0.3;
}

.header .nuage2{
    width: 200px;
    top: 11%;
    left: 19%;
    position: absolute;
    opacity: 0.4;
}

.header .nuage3{
    width: 100px;
    top: 28%;
    left: 25%;
    position: absolute;
    opacity: 0.4;
}

.header .nuage4{
    width: 150px;
    top: 6%;
    right: 3%;
    position: absolute;
    opacity: 0.4;
}

.header .nuage5{
    width: 120px;
    top: 6%;
    right: 22%;
    position: absolute;
    opacity: 0.4;
}


.header .roulotte{
    width: 30%;
    position: absolute;
    bottom: 0%;
    left: 40%;
}

.header .ombre{
    position: absolute;
    bottom: 12%;
    width: 28%;
    left: 40%;
}

.header .banderole{
    width: 46%;
    right: 0%;
    position: absolute;
    bottom: 0%;
}

.header .rondLogo{
    width: 300px;
    height: 300px;
    background-color: #fff;
    border-radius: 50%;
    margin: 0 auto;
    top: 4%;
    position: relative;
    /* animation : fade-in 15s linear; */

}
@keyframes fade-in{0%{opacity:0}100%{opacity:1}}/* @keyframes anim{
	0% {transform: scale(0); opacity:0;}
	40% {transform: scale(1); opacity:1;}
	60% {transform: scaleX(3); opacity:1;}
	80% {transform: scaleY(2); opacity:1;}
	100% {transform: scale(1); opacity:1;}  
} */



.header .logo{
    width: 60%;
    top: 20%;
    left: 18%;
    position: relative;
    padding-top: 17%;
}

.header .banderoleLogo{
    width: 69%;
    top: 20%;
    left: 15%;
    position: relative;
}

.header .rondLogo p{
    color: #882d4b;
    position: relative;
    text-align: center;
    top: -10%;
}

.header .nuage1{
    position:absolute;
}

.header .astre{
    width: 90%;
}

.header .panneauBanderole{
    width: 44%;
    position: absolute;
    bottom: 0%;
}



/********  RONDS **********/
.header .rond{
    background-color: #f5eded;
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.grosRond{
    background-color: #f5eded;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.petitRond{
    background-color: #f5eded;
    width: 80px;
    height: 80px;
    border-radius: 50%;
}



.grosRond:hover .tooltip{
    background-color:red;
}

.header .numeros, .header .tarot{
    width: 80px;
}
.header .positionNumeros{
    margin-top: -60px;   
}

.pendule{
    top: 7%;
    left: 9%;
    width: 68px;
    position: relative;
}
.header .positionPendule{
    margin-top: -213px;
    margin-left: -49px;
}

.main{
    width: 60px;
    position: relative;
    left: 9px;
    top: 8px;;
}

.header .positionMain{
   margin-top:-182px;
}

.positionTarot{
    margin-top:-80px;
    margin-left: 230px;
}

.positionAstre{
    margin-left: 260px;
    margin-top: 70px;
}

.tooltip{
    background-color: #a85e93;
    width: 150px;
    padding: 9px 0px;
    text-align: center;
    color: #fff;
    margin-top: 36px;
    margin-left: -154px;
    position: absolute;
    
}

.petitRond:hover{
    background-color: #f5d4dd;
    cursor: pointer;
}
