.form{
    margin: 0 auto;
    width: 50%;
    text-align: center;   
    margin-top: 40px;
    margin-bottom: 100px;
}

.form input{
    margin: 10px 0px;
}

.form button{
    margin-top: 50px;
}

p{
    text-align: center;
    margin-top: 20px;
}

.form .button{
    padding: 5px 10px;
    background-color: #68d4fb;
    border: 1px solid rgb(191, 191, 191);
    color: #fff;
    outline: none;
    cursor: pointer;
    font: inherit;
    padding: 7px 40px;
    margin: 10px;
    font-weight: bold;
    border-radius: 5px;
}